<%= form_tag root_path, method: :get do %>
  <div class="field">
    <%= label_tag :year, "Year" %>
    <%= select_tag :year, options_for_select(@years) %>
  </div>

  <div class="field">
    <%= label_tag :make, "Make" %>
    <%= select_tag :make, options_for_select(@makes) %>
  </div>

  <div class="field">
    <%= label_tag :model, "Model" %>
    <%= select_tag :model, options_for_select(@models) %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<% if @auto_glasses.present? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">quantity</th>
        <th scope="col">Part number</th>
        <th scope="col">Description</th>
        <th scope="col">availability</th>
        <th scope="col">Ships</th>
        <th scope="col">Your Price</th>
      </tr>
    </thead>
    <tbody>
      <% @auto_glasses.each do |product| %>
        <tr>
          <td>
           <%= product.quantity %>
           </td>
           <td>
           <%= product.part_number %>
           </td>
           <td>
           <%= product.description %>
           </td>
           <td>
           <%= product.availability %>
           </td>
           <td>
           <%= product.ships_within_days %> days
           </td>
           <td>
           <%= product.price %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No auto_glasses found.</p>
<% end %>
