<!DOCTYPE html>
<html>
  <head>
    <title>AutoGlassWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="py-3 border border-1">
      <div class="row">
        <% if customer_signed_in? %>
          <div class="d-flex justify-content-end">
            <%= link_to "Profile", edit_customer_registration_path, class:'me-3' %>
            <%= button_to "Log out", destroy_customer_session_path, method: :delete, class:'btn btn-primary' %>
          </div>
        <% else %>
          <div class="d-flex justify-content-end">
            <%= link_to "Login", new_customer_session_path, class:'me-3' %>
            <%= button_to "Sign Up", new_customer_registration_path, method: :get, class:'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
